#board {
    background: rgb(155, 206, 13);
    width: 1416px;
    height: 884px;
    left: 10px;
    top: 10px;
}


.circle {
    background: rgb(0, 0, 0);
    width: 15px;
    height: 100px;
    border-radius: 10px;
    position: absolute;
}